.profile-card h1{
    display: block;
    width: 30%;
    padding: 0;
    margin-bottom: 15px;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
.profile-skills h2, .profile-job h2, .profile-education h2, .profile-interests h2{
    display: block;
    width: 25%;
    padding-left: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 36px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    background: url('../images/sprite_profile.png') no-repeat;
}
.profile-skills h2 {
    background-position: 0 -945px;

}
.profile-job h2 {
    background-position: 0 -429px;

}
.profile-education h2 {
    background-position: 0 -343px;
}

.profile-job .from, .profile-education .from {
    margin-top: 3px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 14px;
    color: #999;
    font-size: 13px;
    line-height: 17px;

}
.profile-interests .span12 {
    margin-bottom: 20px;
}
.flag {
    width: 16px;
    height: 11px;
    background:url(../images/flags.png) no-repeat;
    margin-left: 12px;
}

.flag.flag-ua {background-position: -16px 0}